### Continuação do Scrip 
`extract_data.ipynb`

### Importações necessárias

In [1]:
import pandas as pd
import numpy as np
import os

### Gera um DataFrame pandas do csv

In [5]:
enade_df = pd.read_csv(
    './enem2019/microdados_enem_2019/',
    sep = ';',
    decimal = ','
)

# Analises Iniciais

In [6]:
print('\nInformações sobre: Dataframe')
enem_df.shape

Informações sobre: Dataframe

(433930, 137)

In [7]:
print('\nInformações sobre: Notas Gerais')
enem_df.NT_GER.describe()

Informações sobre: Notas Gerais

count    390091.000000
mean         44.076610
std          14.542059
min           0.000000
25%          33.200000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [8]:
# Contar o número de nulos
NT_GER_TOTAL_NULLS = enade_df.NT_GER.isnull().sum()
print('Total de notas gerais nulas: ',NT_GER_TOTAL_NULLS)

Total de notas gerais nulas:  43839

In [9]:
# Porcentagem de nulos em relação ao total de linhas

print(f'% de notas gerais nulas em relação ao total: \n{round((NT_GER_TOTAL_NULLS / enade_df.shape[0]) * 100, 2)}%')

% de notas gerais nulas em relação ao total:
10.1%

# Transformações

In [17]:
# Define se o aluno pertence a uma instituição pública ou privada

enade_df.loc[
    enade_df.CO_CATEGAD.isin([118, 120, 121, 10005, 10006, 10007, 10008, 10009, 17634]),
    'DESC_PUBLICA'
] = 'Privado'

In [18]:
enade_df.loc[
    enade_df.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]),
    'DESC_PUBLICA'
] = 'Público'

In [19]:
print(enade_df.DESC_PUBLICA.value_counts())

Privado    332879
Público    101051
Name: DESC_PUBLICA, dtype: int64

In [20]:
print('\nInformações sobre: Porpoção de alunos de instituições públicas e privadas em relação ao total de alunos em %')
print(f'{round((enade_df.DESC_PUBLICA.value_counts() / enade_df.shape[0]) * 100, 2)}')

Informações sobre: Porpoção de alunos de instituições públicas e privadas em relação ao total de alunos em %
Privado    76.71
Público    23.29
Name: DESC_PUBLICA, dtype: float64

### Coluna modalidade

In [21]:
enade_df['CO_MODALIDADE'] = enade_df.CO_MODALIDADE.replace({
    0: 'EAD',
    1: 'Presencial'
})

### Coluna CO_REGIAO_CURSO

In [22]:
enade_df['CO_REGIAO_CURSO'] = enade_df.CO_REGIAO_CURSO.replace({
    1: 'Norte',
    2: 'Nordeste',
    3: 'Sudeste',
    4: 'Sul',
    5: 'Centro-Oeste'
})

### Coluna QE_I02 - Cor ou raça

In [23]:
enade_df['DESC_COR'] = enade_df.QE_I02.replace({
    'A': 'Branca',
    'B': 'Preta',
    'C': 'Amarela',
    'D': 'Parda',
    'E': 'Indígena',
    'F': pd.NA,
    ' ': pd.NA 
})

Utilizamos pd.NA para tranformar os valores faltantes em valores nulos

In [26]:
enade_df = enade_df.loc[
    enade_df.CO_UF_CURSO == 31
]

In [27]:
len(enade_df)

53656

### Gerando um arquivo csv com os alunos filtrados para os que moram em Minas Gerais

In [32]:
with open('enade_alunos_mg.csv', 'w') as file:
    file.write(enade_df.to_csv(sep=';', index=False, decimal=','))

### Chamando script de load

In [34]:
os.system('python load_data.ipynb')

2

### Continua no script
`load_data.ipynb`